.icon {
	@apply inline-block h-3 w-3 bg-dark-gray;

	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

.arrow-down-icon {
	mask-image: url('../../../../public/images/arrow.svg');
}

.close-icon {
	mask-image: url('../../../../public/images/plus.svg');
	transform: rotate(45deg);
}

.logo-icon {
	mask-image: url('../../../../public/images/logo.svg');
}
