@layer components {
    #app input {
        @apply h-4 rounded-4px border-px border-light-gray text-gray text-xs bg-no-repeat;
        background-image: url('../../../../public/images/search.svg');
        background-position: 8px;
        padding: 8px 16px 9px 32px;
        transition: border 0.2s;

        &:focus,
        &:active,
        &:hover {
            @apply border-gray outline-none;
        }

        &::placeholder {
            @apply text-dark-gray text-xs;
        }
    }
}