@tailwind base;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind components;
@tailwind utilities;

@import './assets/styles/base.pcss';

@import './assets/styles/components/dropdown.pcss';
@import './assets/styles/components/modal.pcss';
@import './assets/styles/components/table.pcss';

@import './assets/styles/shared/icons.pcss';
@import './assets/styles/shared/inputs.pcss';
